button {
	width: 200px;
}

.row {
	align-items: center;
	justify-content: space-between;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.scrollable-menu {
  height: auto;
  max-height: 100px;
  background-color: white;
  overflow-x: hidden;
  z-index: 1;
  position: absolute;
}